trigger:
- '*'

variables:
  buildConfiguration: 'Release'
  webRepository: 'app/web'
  tag: '$(Build.BuildId)'

stages:
- stage: 'Build'
  displayName: 'Build and push'
  jobs:  
  - job: 'Build'
    displayName: 'Build job'
    pool:
      vmImage: 'ubuntu-20.04'
    steps:
    - task: Docker@2
      displayName: 'Build and push the image to container registry'
      inputs:
        command: buildAndPush
        buildContext: $(Build.Repository.LocalPath)
        repository: $(webRepository)
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        containerRegistry: 'Container Registry Connection'
        tags: |
          $(tag)
          latest
    - publish: '$(Build.SourcesDirectory)/kubernetes'
      artifact: manifests

#- stage: 'Deploy'
#  displayName: 'Deploy the containers'
#  dependsOn: Build
#  jobs:
#  - deployment: Deploy
#    displayName: Deploy
#    pool:
#      vmImage: 'ubuntu-20.04'
#    environment: 'spike.default'
#    variables:
#    - group: Release
#    strategy:
#      runOnce:
#        deploy:
#          steps:
#          - download: current
#            artifact: manifests
#          - task: KubernetesManifest@0
#            displayName: Deploy to Kubernetes cluster
#            inputs:
#              action: deploy
#              kubernetesServiceConnection: 'Kubernetes Cluster Connection'
#              namespace: 'default'
#              manifests: |
#                $(Pipeline.Workspace)/manifests/deployment.yaml
#              containers: |
#                $(RegistryName)/$(webRepository):$(tag)