apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
spec:
  replicas: 3
  selector:
    matchLabels:
      role: node-app
  template:
    metadata:
      labels:
        role: node-app
    spec:
      containers:
      - name: node-app
        image: tailspinspacegame9149.azurecr.io/app/web
        ports:
        - containerPort: 3000
      imagePullSecrets:
      - name: acrdemo2ss-secret