apiVersion: apps/v1
kind: Deployment
metadata:
  name: usersbackend
spec:
  replicas: 3
  selector:
    matchLabels:
      role: usersbackend
  template:
    metadata:
      labels:
        role: usersbackend
    spec:
      containers:
      - name: usersbackend
        image: tailspinspacegame9149.azurecr.io/app/web
        env:
        - name: PORT
          value: "3001"
        - name: NODE_ENV
          value: "Development"
        ports:
        - containerPort: 3001
      imagePullSecrets:
      - name: acrdemo2ss-secret

---
apiVersion: v1
kind: Service
metadata:
  name: usersbackend
spec:
  type: ClusterIP
  ports:
  - port: 80
  selector:
    app: usersbackend